.tile {
    display: inline-block;
    border: 0 none;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &.tile-playable {
        opacity: 0.5;
    }

    &:focus {
        outline:0;
    }
}
