.board {
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;

    .help-block {
        text-align: center;
        color: #666;
    }

    @media screen and (min-width:600px) {
        width: 500px;
    }
    @media screen and (max-width:599px) {
        width: 100%;
    }
}
