<html>
	<head>
    	<meta charset="utf-8">
    	<title>KulrSpottr</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  	</head>
  	<body>
    	<div id="kulrApp"></div>
  	</body>
</html>
